@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import "public/_settings.scss";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

h1{
	font-size: 400%;
	font-weight: 100;
	margin-left: 5%;
	margin-right: 5%;
}

h2{
	font-weight: 100;
	margin-left: 5%;
	margin-right: 5%;
}

.surveyq{
	font-size: 150%;
	font-weight: 300;
	color: #000;

}

big {
	font-size: rem-calc(80);
	font-weight: 400;
}

#load{
	display: block;
	margin: 15px auto;
}