@import "public/_settings.scss";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

h1{
	text-align: center;
	font-size: 400%;
	font-weight: 100;
	margin-left: 5%;
	margin-right: 5%;
}

h2{
	font-weight: 100;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

.surveyq{
	font-size: 150%;
	font-weight: 200;
	color: #000;

}