@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import "public/_settings.scss";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

h1{
	font-size: 400%;
	margin-left: 5%;
	margin-right: 5%;
}

h2{
	font-weight: 300;
	margin-left: 5%;
	margin-right: 5%;
}

.surveyq{
	font-weight: 300;
	font-size: 150%;
	color: #000;

}

big {
	font-size: rem-calc(80);
	font-weight: 400;
}

#load{
	display: block;
	margin: 15px auto;
}

#footer {
	background-color: #424242;
}

#landing {
	background-image: url('images/city36.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
}

.title {
	background-color: rgba(22, 145, 193, 0.36);
}